<footer class="page-footer font-small bg-info pt-4">

    <div class="container">


        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-media">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank" class="iconFacebook">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.Instagram.com/" target="_blank" class="iconInstagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.LinkedIn.com/" target="_blank" class="iconLinkedIn">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>

    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-white"> © 2022 copyright:</span>
        <a class="text-white" target="_blank" href="https://wanroo.com"> wanroo.com</a>
        
    </div>

</footer>
